absl-py==0.15.0
adagio==0.2.3
aiohttp==3.8.1
aiohttp-cors==0.7.0
aioredis==1.3.1
aiosignal==1.2.0
antlr4-python3-runtime==4.9.3
appdirs==1.4.4
astor==0.8.1
astunparse==1.6.3
async-timeout==4.0.1
asynctest==0.13.0
attrs==21.2.0
autopep8==1.6.0
bayesian-optimization==1.2.0
black==21.11b1
blessed==1.19.0
cached-property==1.5.2
cachetools==4.2.4
certifi==2021.10.8
charset-normalizer==2.0.7
ciso8601==2.2.0
click==8.0.3
cloudpickle==2.0.0
colorful==0.5.4
cycler==0.11.0
filelock==3.3.2
frozenlist==1.2.0
fs==2.4.13
fugue==0.6.4
future==0.18.2
gast==0.2.2
google-api-core==2.2.2
google-auth==2.3.3
google-pasta==0.2.0
googleapis-common-protos==1.53.0
gpustat==1.0.0b1
greenlet==1.1.2
grpcio==1.41.1
h5py==3.5.0
hiredis==2.0.0
hyperopt==0.2.5
idna==3.3
imageio==2.10.1
importlib-metadata==4.8.1
importlib-resources==5.4.0
Jinja2==3.0.3
joblib==1.1.0
jsonschema==4.2.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.4.3
msgpack==1.0.2
multidict==5.2.0
mypy-extensions==0.4.3
networkx==2.6.3
numpy==1.22.2
nvidia-ml-py3==7.352.0
opencensus==0.8.0
opencensus-context==0.1.2
opencv-python==4.5.5.62
opt-einsum==3.3.0
pandas==1.3.4
pathspec==0.9.0
pdoc==8.0.1
Pillow==8.4.0
platformdirs==2.4.0
prometheus-client==0.12.0
protobuf==3.19.1
psutil==5.8.0
py-spy==0.3.11
pyarrow==6.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
Pygments==2.10.0
pyparsing==3.0.3
pyrsistent==0.18.0
python-dateutil==2.8.2
pytz==2021.3
PyWavelets==1.1.1
PyYAML==5.3.1
qpd==0.2.5
ray==1.8.0
redis==3.5.3
regex==2021.11.10
requests==2.26.0
rsa==4.7.2
scikit-image==0.19.1
scikit-learn==1.0.1
scipy==1.8.0
-e git+git@github.com:vilmarzti/dreaming.git@c20b8a57ee65531371bf740d5ce078ddb58c16d8#egg=segmentation
SimpleITK==2.1.1
six==1.16.0
SQLAlchemy==1.4.26
tabulate==0.8.9
termcolor==1.1.0
threadpoolctl==3.0.0
tifffile==2021.10.12
toml==0.10.2
tomli==1.2.2
tqdm==4.62.3
triad==0.5.5
tune==0.0.9
typed-ast==1.5.0
typing-extensions==3.10.0.2
urllib3==1.26.7
wcwidth==0.2.5
Werkzeug==2.0.2
wrapt==1.13.2
yarl==1.7.2
zipp==3.6.0
